.item {
  font-size: 1.2rem;
  list-style-type: none;
  padding: 17px 1rem;
  margin-bottom: 0.5rem;
  background-color: #0a155a;
  border-radius: 1rem;
  color:#f1f3f4;
  width: 100%;
}

/* .item span {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
} */

.checkbox {
  margin-right: 15px;
}

.item button {
  font-size: 13px;
  background: transparent;
  color: #ff0062;
  font-size: 1em;
  border: none;
  cursor: pointer;
  float: right;
  outline: none;
  border-radius: 100px;
  height: 50px;
  margin: -10px 0 0 10px;
}

.textInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
}
